.site-sidenav {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
}

.pi-logo {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 0 16px;
  margin: 0 auto;
}

.pi-logo > img {
  margin-top: 15px;
  height: 150px;
  width: auto;
  display: block;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.pi-logo > h1 {
  color: #2ea75e;
  text-align: center;
  font-weight: 400;
  font-size: 26px;
  margin: 20px 0px 10px 0px;
}

a.pi-logo {
  text-decoration:none;
  padding: 0px;
  border-bottom: 1px solid #d1e7d4;
  margin-bottom: 15px;
}

.big-button {
  padding: 5px 25px;
}
